body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#calcs,#fruits{
  background: #00A1E2;
  border-collapse: collapse;
  margin: 0 auto;
}

#calcs th,
#fruits th
{
  color: black;

}

#calcs th,
td,
#fruits th
{
  border: 1px solid white;
}

.createComponent label, .UpdateComponent label,
.createComponentFruit label{
  font-size: 0.7em;
  padding-right: 0.5em;
}

.createComponent input, .UpdateComponent input,
.createComponentFruit input{
  margin-right: 1em;
}
